<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Add a new message</h1>
    <form action="/new" method="post">
      <label for="messageUser">Your name:</label>
      <input
        type="text"
        id="messageUser"
        name="messageUser"
        required
      />
      <br />
      <label for="messageText">Enter your message:</label>
      <input
        type="text"
        id="messageText"
        name="messageText"
        required
      />
      <br />
      <button type="submit">Submit Message</button>
    </form>
    <a href="/">Back the message board</a>
  </body>
</html>
